@model ContosoUniversity.Features.Courses.Index.Result

@{
    ViewData["Title"] = "Courses";
}

<h2>Courses</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
                Title
            </th>
            <th>
                Credits
            </th>
            <th>
                Department
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0;}
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    <display-tag for="Courses[i].Id"/>
                </td>
                <td>
                    <display-tag for="Courses[i].Title" />
                </td>
                <td>
                    <display-tag for="Courses[i].Credits" />
                </td>
                <td>
                    <display-tag for="Courses[i].DepartmentName" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>