@page
@model Students.Create

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            @Html.ValidationDiv()
            @Html.FormBlock(m => m.Data.LastName)
            @Html.FormBlock(m => m.Data.FirstMidName)
            @Html.FormBlock(m => m.Data.EnrollmentDate)
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
